<h1>Create a new scorecard</h1>

<%= form_with model: @scorecard do |form| %>
  <%=
    render(
      Forms::TextComponent.new(
        form: form,
        attribute: :name,
        help: 'What do you want to call this scorecard?',
      ),
    )
  %>

  <ul class="list-group list-group-flush mb-3">
    <%= form.fields_for :players do |players_form| %>
      <li class="list-group-item">
        <%=
          render(
            Forms::TextComponent.new(
              form: players_form,
              attribute: :name,
              label: "Player #{players_form.index + 1}",
              help: "Name of Player #{players_form.index + 1}",
            ),
          )
        %>
        <% if @scorecard.players.size > 1 %>
          <%= players_form.button "Remove", value: "remove_player=#{players_form.index}", class: 'btn btn-secondary' %>
        <% end %>
      </li>
      <%= players_form.button "Add player", value: "add_player", class: 'btn btn-secondary', data: {"add_player": true} %>
    <% end %>
  </ul>

  <hr />

  <div class="form-group">
    <%= form.button "Create", class: 'btn btn-primary w-100' %>
  </div>
<% end %>
