<div class="d-flex justify-content-between align-items-center">
  <h1><%= @state.scorecard.name %></h1>
  <%= link_to "Add round", new_scorecard_round_path(@state.scorecard), class: 'btn btn-primary' %>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Round</th>
      <% @state.scorecard.players.each do |p| %>
        <th scope="col"><%= p.name %></th>
      <% end %>
    </tr>
  </thead>

  <% @state.scorecard.rounds.each do |round| %>
    <tr>
      <th scope="row"><%= round.number %></th>
      <% @state.ordered_players.each do |player| %>
        <td>
          <%= @state.lookup_score(player_id: player.id, round_id: round.id).value %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
